# Tasks

## Task 1: Source the Data Set

Note to self, add info about data set and source link.

In [2]:
import pandas as pd

import sklearn as skl

CSV link for the iris dataset = https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv

## Task 2: Explore the Data Structure

The table below shows the shape of the dataset. The feature names are in the first row i.e. sepal lenght. Column 1 contains the number of the specimen. Column 2 shows sepal lenght. Column 3 outlines sepal with. Column 4 contains petal length. Column 5 shows petal width. And lastly Column 6 highlights the species.

Note to self... include if width is in MM, CM, etc.

In [7]:
df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')

In [8]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Task 3: Summarise the Data

The table below contains the mean, minimum, maximum, standard deviation, and median for each feature in the dataset.

In [9]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Task 4: Visualise Features

## Task 5: Investigate Relationships

## Task 6: Analyse Relationship

## Task 7: Analyse Class Distributions

## Task 8: Compute Correlations

## Task 9: Fit a Sample Linear Regression

## Task 10: Too Many Features

## End